<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Index page</title>
  </head>
  <body>
    <h1>This is index page!</h1>
    <form method="post" action="car">
      <label for="cars">Choose a car:</label>
      <select name="cars" id="cars">
        <option value="volvo">Volvo</option>
        <option value="saab">Saab</option>
        <option value="BMW">BMW</option>
        <option value="Audi">Audi</option>
      </select>
      <br><br>
      <input type="submit" value="Submit">
    </form>
  </body>
</html>
